# M-Pesa API
# MPESA_ENDPOINT=api.sandbox.vm.co.mz
# MPESA_PORT=18352
# MPESA_ORIGIN=developer.mpesa.vm.co.mz
# MPESA_ACCESS_TOKEN=SEU_TOKEN_AQUI
# MPESA_SERVICE_PROVIDER_CODE=171717
# MPESA_THIRD_PARTY_REF=SISTEMA 